.timer {
  font-size: 250%;
  text-align: center;
  margin-bottom: 10px;
}
.timer .fraction {
  font-size: 50%;
}
.timer .buzz {
  color: #DA2F22;
}
.thumbnail {
  margin: 0;
  margin-bottom: 18px;
  overflow: auto;
}
.thumbnail .table {
  margin-bottom: 5px;
}
.thumbnail .table.headless tbody tr:first-child td {
  border-top: none;
}
.thumbnail .progress {
  margin-bottom: 9px;
}
.thumbnail h5 i,
.expando i,
.actionbar i {
  margin-right: 5px;
  margin-top: 1px;
}
.expando i {
  margin-left: 5px;
}
.actionbar .expando .add-on {
  padding-right: 10px;
}
.breadcrumb {
  overflow: auto;
}
.show-touch {
  display: none;
}
form.expando {
  margin: 0;
}
.bundle .annotations .author {
  font-weight: bold;
}
.bundle .annotations .typing {
  opacity: 0.7;
}
.bundle .annotations .log {
  font-style: italic;
}
.bundle .bookmark {
  margin-left: 5px;
  text-decoration: none;
  font-size: 125%;
}
.bundle .answer {
  font-weight: bold;
}
.bundle .start-page {
  text-align: center;
}
.bundle .inline-icon {
  text-shadow: none;
}
.bundle .inline-icon .label {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
}
.bundle .asterisk {
  width: 0px;
  color: transparent;
  display: inline-block;
  text-shadow: none;
}
#review .review-response,
#review .review-judgement,
#review .review-answer {
  font-style: italic;
}
.bundle.active .answer {
  visibility: hidden;
}
.bundle.active .unread {
  visibility: hidden;
}
.bundle .breadcrumb {
  cursor: default;
}
.bundle:not(.active) .breadcrumb {
  cursor: pointer;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn.disabled,
.btn[disabled],
.timer.disabled {
  opacity: 0.35;
}
.progress .bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
