doctype 5
html(lang="en")
	head
		title #{name} - ProtoBowl 
		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='less/bootstrap.css')
		link(rel='stylesheet', href='less/responsive.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script(src="js/bootstrap.js")
		script(src="/socket.io/socket.io.js")
		script
			channel_name = '!{name}'
		style
			.timer {
				font-size: 250%;
				text-align: center;
				margin-bottom: 10px;
			}
			.timer .fraction {
				font-size: 50%;
			}
			.thumbnail {
				margin: 0;
				margin-bottom: 18px;
				overflow: auto;
			}
			.thumbnail h5 i {
				margin-right: 5px;
			}
			.breadcrumb {
				overflow: auto;
			}
			.show-touch {
				display: none;
			}
			html.touchscreen .show-touch {
				display: inherit;
			}
			html.touchscreen .show-keyboard {
				display: none;
			}
			.bundle .annotations .author {
				font-weight: bold;
			}
			.bundle .annotations .typing {
				opacity: 0.7;
			}
			.bundle .annotations .log {
				font-style: italic;
			}
			.active .unread {
				visibility: hidden;
			}
			.answer {
				font-weight: bold;
			}

			.active .answer {
				visibility: hidden;
			}
			.unselectable {
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}
			.progress .bar {
				-webkit-transition: none;
				-moz-transition: none;
				-ms-transition: none;
				-o-transition: none;
				transition: none;
			}​

	body
		div.navbar.navbar-top
			div.navbar-inner
				div.container
					a.brand(href="#")
						strong Proto
						| Bowl 
						em.hidden-phone(style="font-size: small")
							| doing one thing and doing it acceptably well
						
					div.pull-right
						a.btn.btn-primary(href="/") New Room
					ul.nav.pull-right
						li
							a(href="#") About
						
		div.container

			div.row
				div.span9
					div.row(style="margin-bottom: 10px")
						div.span9.show-touch
							div.well.form-horizontal
								button.btn.btn-info Pause 
								| 
								button.btn.btn-warning Skip
								| 
								button.btn.pull-right.btn-danger Buzz 
						div.span6.show-keyboard
							div
								input.main_input.span9(type='text', placeholder='eventually this might do something', disabled)
						
					div#history
				div.span3
					// this part really doesn't matter
					// so it's perfectly logical to stick
					// it here so it'll be inaccessible in mobile
				
					div.span3.thumbnail
						h5 
							i.icon-time
							| Timer 
							span.label.label-warning#pause Paused
						div.timer.unselectable
							span.face 00:00
							span.fraction .0

						div.progress.progress-striped
							div.bar(style="width:0%")
					div.span3.thumbnail.leaderboard
						table.table
							thead
								tr
									th #
									th Name
									th Interrupt
									th Score
							tbody



					div.span3.thumbnail
						h5
							i.icon-wrench
							| Settings
						div(style="text-align: center")
							div.input-prepend
								span.add-on
									i.icon-user
								input#username.span2(type='text', value='flame monkey')

								// span.badge(style="margin-left: 10px") 42

					div.span3.thumbnail.show-keyboard
						h5 
							i.icon-info-sign
							| Tips
						ul
							li Press space to begin
							li Press space to buzz
							li Change settings by hacking the code
							li Make up tips and don't do anything about them

					div.span3.thumbnail.show-touch
						h5 
							i.icon-info-sign
							| Tips
						ul
							li Buttons are fun to press

					div.span3.thumbnail
							h5 
								i.icon-fire
								| Debugging
							table.table-condensed.table
								thead
									tr
										th attr
										th val
								tbody
									tr
										td latency
										td#latency ?
									tr
										td sync_offset
										td#sync_offset ? 


		div.modal.hide#disco
			div.modal-header
				button.close(type="button", data-dismiss="modal") ×
				h3 YOU GOT DISCONNECTED
			div.modal-body
				p Sorry, try reloading.
				p 
					| Also, I don't think this is the most user friendly possible
					| modal disconnection alert window, but fixing that issue is
					| the problem of future me, or of someone else. 
			div.modal-footer
				a.btn(href="#", data-dismiss="modal") Close
				a.btn.btn-primary(href="") Reload
		script(src="client.js")