doctype 5
html(lang="en")
	head
		title ProtoBowl#{name}
		meta(charset="utf8")
		style
			body {
				font-family: sans-serif;
			}
			a#new {
				text-decoration: none
			}
			#unread {
				visibility: hidden;
			}
			#name, .title {
				display: inline;
			}
			#question {
				margin-left: 40px;
			}
			.unselectable {
				-webkit-user-select: none;
				user-select: none;
				-moz-user-select: none;
				cursor: default;
			}
			.warning {
				font-style: italic;
			}
			hr {
				border-style: solid;
				border-top-width: 0;
			}

			#countdown, #reveal {
				font-size: 32px;
				font-family: monospace;
			}
			#countdown {
				font-weight: bold;
				color: red;
			}
			#reveal {
				float: right;
			}

			#answer {
				text-align: right;
				font-style: italic;
			}

			#guess {
				width: 400px;
				border-style: solid;
				border-width: 1px;
				font-size: 32px;
				margin-left: 20px;
			}


		script(src="/socket.io/socket.io.js")
		script
			channel_name = '!{name}'
			initial_sync = !{initial}

		script(src="client.js")
	body
		a#new(href="/")
			h1.title Prototype Quizbowl Application
		h2#name= name

		p#disco(style="display: none")
			| Hmm, it looks like you got disconnected. Try reloading.

		div#main

			p.warning 
				strong press enter to buzz 
				| and please excuse the hideous interface

			hr


			p#question
				span#visible
				span#unread
				p#answer

			hr
			div
				span#countdown 
				input#guess(type="text",style="display:none")
				span#reveal 
		script
			synchronize(initial_sync)