@import "bootstrap.less";
@import "responsive.less";

.navbar, .sidebar, .actionbar, #team_modal, .modal-footer, .modal-header { display: block; }

body {
	background: #fbfbfb;
}


.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}


.distraction {
	.annoying {
		display: none;
	}
	// .navbar, .sidebar {
	// 	opacity: 0.5;
		
	// 	transition: opacity 0.5s;
	// 	-webkit-transition: opacity 0.5s;
	// 	-moz-transition: opacity 0.5s;
	// 	-o-transition: opacity 0.5s;

	// 	&:hover {
	// 		opacity: 1;
	// 	}
	// }
}

.timer-widget {

	.label {
		// float: right;
		right: 0;
		position: absolute;
		margin-right: 5px;
		margin-top: 2px;
	}
	h5 {
		position: absolute;
	}
	.progress {
		margin-bottom: 5px;
	}
	
	.timer {
		font-size: 250%;
		text-align: center;
		margin-bottom: 5px;
		padding-right: 5px;
		margin-top: 10px;
		pointer-events: none;

		.fraction {
			font-size: 50%;
		}
		.buzz {
			color: #DA2F22;
		}
	}
	.timer, .progress {
		transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
	}
	
	min-height: 22px;

	&:hover {
		.timer, .progress {
			opacity: 0.7;
		}
	}
	
	cursor: pointer !important;	
	&.timer-hide {
		.timer, .progress {
			display: none;
		}
	}

	&.pulse {
		animation-duration: 1s;
		animation-name: pulse;
		-webkit-animation-duration: 1s;
		-webkit-animation-name: pulse;
		-moz-animation-duration: 1s;
		-moz-animation-name: pulse;
	}
	
}

@-webkit-keyframes pulse {
	from { opacity: 1; }
	50% { opacity: 0.5; }
	to { opacity: 1; }
}

@-moz-keyframes pulse {
	from { opacity: 1; }
	50% { opacity: 0.5; }
	to { opacity: 1; }
}

.thumbnail {
	margin: 0;
	margin-bottom: 18px;
	overflow: auto;
	h5 {
		margin: 0;
	}

}

.table {
	margin-bottom: 5px;
}

.table.headless{
	tbody tr:first-child{
		td, th {
			border-top: none;
		}
	}
	td.value {
		text-align: right;
	}
} 

.mini-stat {
	color: gray;
	font-size: 80%;
}


#bookmarks {
	// this is used for searching
	.no-match {
		display: none;
	}
}


#whale {
	margin-top: 30px;

	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #ffffff;
	
	.status {
		font-size: 80%;
		margin-top: -11px;
		margin-left: 20px;
		padding-right: 5px;
		padding-left: 5px;
		background-color: #fbfbfb;
	}

	.form-search {
		margin-top: -15px;
	}

	// .search-query {
	// 	transition: width 0.2s;
	// 	-webkit-transition: width 0.2s;
	// 	-moz-transition: width 0.2s;
	// 	-o-transition: width 0.2s;
	// }
	// .search-query:focus {
	// 	width: 210px;
	// }

}

.leaderboard {
	td {
		word-wrap: break-word;
		word-break: break-all;
	}
	tbody {
		tr {
			cursor: pointer;
		}	
	}
	
	.subordinate {
		opacity: 0.7;
	}
	.rank {
		white-space: nowrap;
		padding-right: 5px;
	}
	td.score {
		padding-left: 0;
		.badge {
			margin-top: 2px;
		}
	}
	.ellipsis td {
		transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;

		text-align: center;
		font-size: 90%;
		opacity: 0.4;
		overflow: hidden;
	}
	.ellipsis:hover td {
		opacity: 0.7;
	}
	table.table {
		margin-bottom: 0;
	}
}
.stats {
	table.table {
		margin-bottom: 0;
	}
}

.chat_form, .guess_form, .prompt_form {
	.input-prepend {
		display: block;
		.add-on {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.popover-content {
	padding: 1px;
}

.thumbnail {
	background: white;
}
.thumbnail h5 i, .expando i, .actionbar i {
	margin-right: 5px;
	margin-top: 1px;
}
.thumbnail h5 {
	margin-left: 3px;
}

.custom-category {
	border: 1px solid #ddd;
	padding: 10px;
	padding-top: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	// margin: 0.5em 0 0.5em 0;
	border-radius: 5px;


	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: 0;
	margin-top: -5px;
	border-color: #CCC;


	// legend {
	// 	font-size: 1em;
	// 	font-weight: bold;
	// 	margin: 0;
	// 	padding: 0;
	// 	width: auto;
	// 	border: 0;
	// 	line-height: inherit
	// }
	.category-item {
		overflow:auto;
		text-align:left;
		padding-top:5px;
		
		.dist-picker {
			margin-top:-2px;
			.monitor {
				width: 30px; 
				padding-left: 0px; 
				padding-right: 0px; 
				text-align:center;
			}
		}
	}
	
}

.expando i {
	margin-left: 5px;
}
// .actionbar .expando .add-on {
// 	padding-right: 14px;
// 	padding-left: 14px;
// }

.textbar-submit {
	cursor: pointer;
}

input[type=text].disabled {
	background-color: #EEE;
}

.breadcrumb {
	overflow: auto;
}
.show-touch {
	display: none;
}

form.expando {
	margin: 0;
}

.padd-on {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

input[type=range] {
	vertical-align: middle;
	height: 30px;
}

.settings {
	.checkbox {
		text-align: left;
		padding-left: 33px;
		overflow: hidden;
		input[type=checkbox] {
			margin-left: -24px;
		}

		.electorate {
			font-size: 80%;
			padding-left: 5px;
		}

	}
	hr {
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.request-access {
		display: none;
		opacity: 0;
	}
	.request-access, .checkbox, .expando, .custom-category {
		transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
	}
	.globalsettings.locked.escalate {
		.request-access {
			height: 0;
			top: -100px;
			position: relative;
			display: block;

		}
	}
	.globalsettings.locked {
		.checkbox, .expando, .custom-category {
			opacity: 0.5;
			pointer-events: none;
		}
	}
	.globalsettings.escalate.locked:hover {
		.request-access {
			opacity: 1;
		}
		.checkbox, .expando, .custom-category {
			opacity: 0.2;
		}
	}
}


.banham {
	font-style: normal;
}


.banhammer {
	opacity: 0.2;
	margin: 1px;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
}

.banhammer:hover {
	opacity: 0.8;
}


.user-prefix {
	color: rgb(37, 158, 26);
	padding-right: 5px;
}

.user-prefix.icon-ban-circle {
	color: #c83025;
}

.annotations {
	word-wrap: break-word;
	//word-break: break-all;
	p {
		transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
	
	}
	
	.guess .username { 
		font-weight: bold;
	}
	.author { 
		font-weight: bold; 
	}

	.recipient { font-weight: bold; color: green; }
	.team-recipient { font-weight: bold; color: #007fff; }
	.typing { opacity: 0.7; }
	.log { 
		font-style: italic;
		i.icon-user {
			color: gray;
		}
	}
	.typing.buffer {
		font-style: italic;
		.author { font-weight: normal; }
	}
	.report-link {
		color: gray;	
	}
}

.start-page {
	text-align: center;
}

.bundle {
	clear: both;	

	.bookmark {
		margin-left: 5px;
		text-decoration: none;
		font-size: 125%;
	}
	.answer {
		
		color: #111;
		.bold {
			// color: #333333;
			font-weight: bold;	
			color: #444;
		}
		
	}
	.inline-icon .label {
		padding-top: 1px;
		text-shadow: none;
		padding-bottom: 0;
		padding-left: 2px;
		padding-right: 3px;
		display: inline-block;
	}
	.inline-icon {
		text-shadow: none;
		
		.icon-forward {
			padding-left: 4px;
		}
	}
	.breadcrumb {
		ul {
			display: inline;
			margin: 0;
		}
		a {
			text-decoration: none;
		}
		.clickable {
			cursor: pointer;
			color: lighten(#333, 30%);
		}
		padding-right: 5px;
		li {
			display: inline;
		}
	}
	.asterisk {
		width: 0px;
		height: 0px;
		color: transparent;
		display: inline-block;
		font-size: 2%;
		text-shadow: none;
	}
}

#review {
	.review-response, .review-judgement, .review-answer {
		font-style: italic;
		font-weight: bold;
	}
}

.bundle.active {
	.answer { visibility: hidden; }
	.unread { visibility: hidden; }
}

.bundle.active.semi {
	.unread { 
		visibility: visible;
		opacity: 0.6;
	}
}

.bundle.revealed {
	.answer {
		display: inline !important;
		visibility: visible !important;
	}
}

.bundle .breadcrumb {
	cursor: default;
}
.bundle:not(.active) .breadcrumb {
	cursor: pointer;
}

.btn.disabled, .btn[disabled], .timer.disabled {
	opacity: 0.35;
}

.start-page {
	.btn.btn-large {
		margin: 10px;
	}
}

.navbar-top .navbar-inner {
	border-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

@media (min-width: 767px) {
	.navbar-top .navbar-inner {
		border-radius: 0;
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}
}

.show-sidebar {
	float: left;
	display: none;
	padding: 12.5px 20px 12.5px;
	margin-left: -15px;
	font-size: 20px;
	font-weight: 200;
	color: #555555 !important;
	text-shadow: 0 1px 0 #fcfcfc;
	text-decoration: none !important;
}

.christmas {
	.timer {
		background: url(img/christmas.png);
		text-shadow: white 0 0 15px;
	}
}
.earthday {
	background: rgb(232, 243, 234);

}
.aprilfools {
	background: #f5f5fc;
	.navbar-inner {
		background: #000438;
		.brand, a {
			color: white !important;	
		}
	}
}

body.offline {
	.hidden-offline { display: none; }
}

@media (max-width: 767px) {
	// Padding to set content in a bit
	body {
		padding-left: 10px;
		padding-right: 10px;
	}

	.show-sidebar {
		display: block;
	}

	body {
		padding-left: 0;
		padding-right: 0;
	}
	.sidebar {
		position: absolute;
		z-index: 1;
		width: 70%;
		margin-left: -70%;

		transition: margin-left 0.5s;
		-webkit-transition: margin-left 0.5s;
		-moz-transition: margin-left 0.5s;
		-o-transition: margin-left 0.5s;
	}
	.sidebar.shown {
		margin-left: 0%;
	}
	.mainview {
		position: absolute;
		width: 100%;
	}
	.timer-widget {
		display: none;
	}
	.well {
		padding: 10px;
	}
	.bundle.active {
		.answer { display: none; }
	}
	.navbar {
		margin-bottom: 10px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
}


@media print {
	.buttonbar {
		display: none;
	}
	.navbar {
		display: none;
	}
	.bundle .readout {
		display: block !important;
	}
}

.progress .bar {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}​
