link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
div.container
	h3 #{list.length} rooms archived
	

	ul.nav.nav-pills
		li
			a(href="/stalkermode") &larr; Stalkermode 
	ul
		each room in list
			li
				| #{room} 
				if rooms[room]
					| <b>active</b>
				a(href="/#{room}?ninja") &rarr;