doctype 5
html(lang="en")
	head
		title EMBOLDENATOR
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
		link(href='http://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		style
			#magic {
				text-align: center;
			}
			.bold {
				font-weight: bold;
			}
			#magic li a {
				padding: 20px;
				float: left;
				font-size: 200%;

			}
			li > a {
				border: 1px solid  #AFCBE2;
			}
			li > a:hover {
				background: #AFCBE2;
			}
			.unboldable {
				background: transparent;	
				border: none;
				padding-right: 2px !important;
				padding-left: 2px !important;
			}
			.unboldable:hover {
				background: transparent !important;
			}
			h1 {
				font-family: "Quicksand";
			}
			body {
				margin-top: 20px;
			}

	body
		div.container
			h1 to boldly go
			h4
				span#remaining unknown
				| 
				| remaining
			div#container(style="display:none")
				div.well#textmain
				p
					ul.nav.nav-pills#magic
				button.btn.btn-large#submitline Submit New Answer Line
				| 
				button.btn.btn-link#cooper Report as broken
				hr
				code#preview


		script(src="/stalkermode/audacity.js")