doctype 5
html(lang="en")
	head
		title QUESTION EDITOR
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
	body
