doctype 5
//- html(lang="en", manifest="offline.appcache")
html(lang="en")

	head
		title #{name} - ProtoBowl 
		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords", content="protobowl,quizbowl,application,reader,academic,multiplayer,practice")
		meta(name="description", "A real time multiplayer quizbowl application")

		link(rel='stylesheet', href='/protobowl.css')

	body
		div.navbar.navbar-top
			div.navbar-inner
				div.container
					a.brand(href="/")
						strong Proto
						| Bowl 
						em.hidden-phone(style="font-size: small")
							//- | doing one thing and doing it acceptably well
							| top secret protobowl rewrite &mdash; secret ninjas only
						
					div.pull-right
						a.btn.btn-primary.new-room(href="/new") New Room
						
					ul.nav.pull-right.hidden-phone
						li
							a(href="#", data-toggle="modal", href="#about") About
		
		div.modal.hide#about
			div.modal-header
				button.close(type="button", data-dismiss="modal") ×
				h3 About
			div.modal-body
				p
					| ProtoBowl is a real time multiplayer quizbowl application. It was launched
					| in late August 2012.
				p				
					| This was concieved some time towards the end of the school year of 2012
					| and was implemented mostly within a week's time intermittently, and this is
					| actually the second prototype. The name actually comes as a contraction or
					| portmanteau of "Prototype" and "QuizBowl", with the word "Application" cleverly
					| ommitted for no reason in particular. 
			div.modal-footer
				a.btn.btn-primary(href="#", data-dismiss="modal") Close
		

		div.container
			div.row
				div.span9
					div.row(style="margin-bottom: 10px")
						div.span9
							div.form-horizontal
								div.actionbar
									button.btn.chatbtn(title="Shortcut: / key", rel='tooltip', disabled)
										i.icon-comment
										| Chat
									| 
									button.btn.btn-info.skipbtn(title="Shortcut: s key", rel='tooltip', disabled)
										| Skip
									| 
									button.btn.btn-info.nextbtn(title="Shortcut: n key", rel='tooltip', disabled, style="display:none")
										| Next
									| 
									button.btn.btn-warning.pausebtn(title="Shortcut: p key", rel='tooltip', disabled) 
										span.pause
											i.icon-pause.visible-phone(style="margin-right:0")
											span.hidden-phone Pause
										span.resume(style="display:none")
											i.icon-play.visible-phone(style="margin-right:0")
											span.hidden-phone Resume
									| 
									button.btn.pull-right.btn-danger.buzzbtn(title="Shortcut: space key", rel='tooltip', disabled)
										i.icon-bell.icon-white
										| Buzz
								form.expando.chat_form(style="display:none")
									div.input-prepend
										span.add-on
											i.icon-comment
											| Chat
										input.chat_input(type='text', placeholder='chat message')
								form.expando.guess_form(style="display:none")
									div.input-prepend
										span.add-on
											i.icon-pencil
											| Guess
										input.guess_input(type='text', placeholder='answer')	
								form.expando.prompt_form(style="display:none")
									div.input-prepend
										span.add-on
											i.icon-question-sign
											| Prompt
										input.prompt_input(type='text', placeholder='prompt')	

					div#update(style="display:none")
						div.well
							a.btn.btn-primary.pull-right(href="") Reload
							| A <strong>new version</strong> of this application has been downloaded. Please reload the application now.
					
					div#history
					

					noscript
						h4 Please Enable Javascript
						| Protobowl is built to use many modern browser features which rely on the presence of a powerful 
						| Javascript engine. This application uses Javascript and WebSockets to keep the client and the 
						| server synchronized in order to attain a better experience. 

				div.span3
					div.span3.thumbnail
						h5 
							i.icon-time
							| Timer 
							span.label.label-warning.pause(style="display:none") Paused
							span.label.label-important.buzz(style="display:none") Buzz
						div.timer.unselectable.disabled
							span.face 00:00
							span.fraction .0

						div.progress.progress-striped
							div.bar(style="width:0%")


					div.span3.leaderboard(style="display:none; margin: 0")
						div.span3.thumbnail
							table.table
								thead
									tr
										th #
										th Name
										th Negs
								tbody

					div.span3.singleuser(style="display:none; margin: 0")
						div.span3.thumbnail
							h5
								i.icon-user
								| Single Player 
								span.label.label-important.offline(style="display:none") Offline
							div.stats
								table

					div.span3.foreveralone(style="margin: 0;display:none")
						div.span3.thumbnail
							h5
								i.icon-globe
								| Feeling Lonely?
							div(style="margin: 5px")	
								| Consider joining a public room such as <span class="roomlist"></span>


					div.span3.settings(style="display:none; margin: 0")
						div.span3.thumbnail
							h5
								i.icon-wrench
								| Settings

							div(style="text-align: center; padding-right: 4px; padding-left: 4px; padding-top: 4px")
								div.expando
									div.input-prepend
										span.add-on(style="width:21px", title="Public name", rel='tooltip')
											i.icon-user
										input#username(type='text', value='', disabled)
								div.expando
									div.input-prepend
										span.add-on(style="width:21px", title="Teams", rel='tooltip')
											i.icon-group
										select.input.teams
											option(value="") Individual
											option(value="Team A") Team A (experimental)
											option(value="Team B") Team B (experimental)
											option(value="Team C") Team C (experimental)
								div.expando
									div.input-prepend
										span.add-on(style="width:21px", title="Reset my score", rel='tooltip')
											i.icon-trash
										button.btn.input.score-reset Reset My Score 
								label.checkbox
									input.livechat(type="checkbox", checked)
									| Show chat messages while typing
								label.checkbox
									input.sounds(type="checkbox")
									| Play sound on successful buzz
								hr
								div.expando
									div.input-prepend
										span.add-on(style="width:21px", title="Read speed", rel='tooltip')
											i.icon-bolt
										input.speed(type="range", value="200", min="60", max="600")
								div.expando
									div.input-prepend
										span.add-on(style="width:21px", title="Difficulty/Category", rel='tooltip')
											i.icon-briefcase
										select.padd-on.difficulties(style="width: 60px; border-right: 0")
										select.input.categories(style="border-left: 0")

								div.custom-category(style="display:none")
								label.checkbox
									input.multibuzz(type="checkbox", checked)
									| Allow players to buzz multiple times
								
								
					div.span3.thumbnail.show-keyboard
						h5 
							i.icon-info-sign
							| Directions
						ul
							li Press <code>p</code> or <code>r</code> to pause or resume
							li Press <code>space</code> to buzz
							li Press <code>j</code> or <code>n</code> to advance to next question (<code>s</code> to skip)
							li Press <code>/</code> or <code>a</code> to chat
							li Invite other people to this URL for multiplayer
							li This page works offline on browsers supporting HTML5

					div.span3.thumbnail.show-touch(style="display:none")
						h5 
							i.icon-info-sign
							| Directions
						ul
							li Buttons are fun to press
							li Click on entries in the leaderboard for more details


					div.span3.thumbnail
						h5 
							i.icon-fire
							| Miscellaneous
						table.table.headless
							tbody
								//- tr
								//- 	td
								//- 		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="margin:0" target="_blank">
								//- 		<input type="hidden" name="cmd" value="_s-xclick">
								//- 		<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBwoeH9PN0kCVgWEjAXfsl/d3B2/6R/InXSbKGjdiNPJYT1Bz7wS6+tb7rNOQ7dfXr/TghC8JaNTgD6hibhR35re719uHZCP+cxuteACx34kgLwFHG8E+4mMEOeFrXQVw4yju3dVJS6dI8Dz4K+kNAecfWJyCBb+xKSXp1lFk8okzELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIJrKVPLCkEuSAgZhqC5E4lfjfLY5DcSWc3qhpIhhcHkzIURUgs4SWrUWS8bBWxZwRGRu77skDMKp6IufZWHJqSiAM04hdhtXg2ZSmkvS592VHVz/k7fkQYQwvkWvgbqt5anhqaZy5XBPYdqkoB11EXjABaHP6PW0YWSqQnlV64hoMYYXG7Qx5OLooFfPK8yQvnLtM+oY5b83E+3cEdZosSWqwr6CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTEyMDkwMTIwNTQ1NVowIwYJKoZIhvcNAQkEMRYEFHFXv+mVwhz6/0RY3taCIynHmLvLMA0GCSqGSIb3DQEBAQUABIGAQuFDc96nsf5ilDKdGTfvLhCOPwcQEVxLfx1bWKOrA+JaQ+fDr4LlR18WywVe6w6JOVXveqHHzOgYRFLqKyV4u4UHrOs9Q19j0LpmC9eZDgIhBceTNvJYq3IvgEQ9hDNchSAQenc9Eytvmlnq8U4yZX+hIQ/3Ci93uduKqHg/N8I=-----END PKCS7-----
								//- 		">
								//- 		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								//- 		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
								//- 		</form>
								//- 	td Fund Protobowl

								tr
									th latency
									td#latency ?
								tr
									th sync offset
									td#sync_offset ? 
								tr
									td
										a(href="#", onclick="sock.disconnect();return false") Disconnect
									td#cachestatus 
		

		

			
		script(src="/socket.io/socket.io.js")
		script(type="text/javascript")
			//run the socket.io connection code as early as possible
			// console.time('startup')
			// if(typeof io != 'undefined'){
			// 	sock = io.connect(location.hostname, {
			// 		"connect timeout": 2000
			// 	});
			// 	console.time('startup')
			// 	console.time('connecting')
			// 	var original = sock.socket.publish;
			// 	sock.socket.publish = function(){
			// 		console.log(original, arguments)
			// 		original.apply(this, arguments)
			// 	}
			// 	sock.on('connect', function(){
			// 		console.timeEnd('connecting')
			// 	})
			// 	console.time('from here')
			// }
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34434821-1']);
			_gaq.push(['_trackPageview']);

		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		// if(typeof jQuery == 'undefined') document.write(unescape("%3Cscript%20src%3D%22lib/jquery.min.js%22%3E%3C/script%3E"));
		
		script(src="/app.js")

		// script(type="text/javascript")
		// 	(function() {
		// 	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		// 	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		// 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		// 	})();

