title boxxyauth
style
	body { background: black; }
	input { outline: none; }
img(src="http://i.imgur.com/p6NxS.jpg", style="opacity: 0", id="gatekeeper")
form(method="post", action="")
	input(type="text", name="chell", style="position: absolute; left: 10px; top: 370px; font-size: 40px;border: none; color: white; background: black; visibility: hidden", id="chell", autofocus, autocomplete="off")
script
	opaco = 0
	durat = 3141
	end = Date.now() + durat
	quasi_end = end
	dont_fade = ('ontouchstart' in document.documentElement);
	incremaco = function(){
		splivide = 0.03
		end = (quasi_end) * splivide + end * (1 - splivide)
		frac = Math.max(0,Math.min(1, 1 - (end - Date.now()) / durat))

		opaco = Math.pow(frac, 2)
		document.getElementById("gatekeeper").style.opacity =  opaco;
		if(dont_fade){
			document.getElementById('chell').style.opacity = 1;
		}else{
			document.getElementById('chell').style.opacity = Math.pow(1 - frac, 2);
		}
		
		setTimeout(incremaco, 10)
	}
	incremaco()
	
	window.onkeydown = function(e){
		if(e.ctrlKey || e.metaKey) return;
		document.getElementById('chell').style.visibility = 'visible';
		document.getElementById('chell').focus()

		quasi_end = Date.now() + durat
	}
	document.body.onclick = function(){
		document.getElementById('chell').focus()
	}
	if(dont_fade){
		document.getElementById('chell').style.visibility = 'visible';
		document.getElementById('chell').focus();
	}